<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FIRST APP</title>
</head>
<body>
    <h1>Hello Welcome to Index.html</h1>
    {% if access_records %}
    <table>
        <thead>
            <th>Name</th>
        </thead>
        {% for name in access_records %}
        <tr>
            <td>{{name.top_name}}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
        <p>No Names found</p>
    {% endif %}
    
</body>
</html>